<h2 class = "total-members">Total Number: <%= @members.size %></h2>
<section class = "members">
  <ul>
    <% @members.each do | member | %>
      <li>
        <%= member.name %>
        <ul>
          <% if member.role %>
            <li> Role: <%= member.role %> </li>
          <% end %>
          <li> House: <%= member.house %> </li>
          <% if member.patronus %>
            <li> Patronus: <%= member.patronus.capitalize %> </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</section>
